*.DS_Store
.config/nvim
.config/k9s/*
!.config/k9s/config.yaml
!.config/k9s/skins
.config/fish/completions
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/rustup.fish
.config/fish/functions/_*
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/functions/fisher.fish
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_configure_bindings.fish
.config/tmux/plugins
