format="""
$username$directory$git_branch$kubernetes$custom$cmd_duration$sudo$line_break\
$jobs\
$battery\
$status\
$os\
$container\
$shell\
$character\
"""

[aws]
format = ' [$symbol($profile)(\($region\))($duration)]($style)'

[cmd_duration]
format = ' [⏱ $duration]($style)'

[gcloud]
format = ' [$symbol$account(@$domain)(\($region\))]($style)'

[git_branch]
format = ' [$symbol$branch]($style)'

[git_status]
format = ' ([$all_status$ahead_behind]($style))'

[kubernetes]
disabled = false
format = ' [$symbol$context(:$namespace)]($style) '
contexts = [
  { context_pattern = ".*-prod.*", style = "red" },
  { context_pattern = ".*-testing.*", style = "yellow" },
  { context_pattern = ".*-local.*", style = "green" },
]

[sudo]
format = ' [as $symbol]($style)'

[time]
format = '[$time]($style) '
disabled = false

[username]
format = '[$user]($style) '

[custom.npc-prod]
command = "npc profile current"
when = "npc profile current | grep -qE '.*prod.*'"
format = " [󰢀 $output $symbol](red)"

[custom.npc-testing]
command = "npc profile current"
when = "npc profile current | grep -qE '.*testing.*'"
format = " [󰢀 $output $symbol](yellow)"

[custom.npc-local]
command = "npc profile current"
when = "npc profile current | grep -qE '.*local.*'"
format = " [󰢀 $output $symbol](green)"

[custom.npc-default]
command = "npc profile current"
when = "npc profile current | grep -vqE '.*(prod|testing|local)*'"
format = " 󰢀 $output $symbol"
